* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 200vh;
}

.header{
    border: 1px solid black;
    background-color: bisque;
    display: block;
    position: sticky;
    top: 0px;
    height: 80px;
    width: 100%;
}

.logo{
    top: 15%;
    left: 1%;
    position: relative;
    border: 1px solid black;
}

nav{

}

.nav__ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav__li{
    float: right;
}

a {
    display: block;
    padding: 10px;
}